/*
* @Alumno: Ing. Kevin C. Lopez Gonzalez
* @Fecha: 20 de Agosto, 2023
* @Carrera: Ing. Sistemas Computacionales
* @Univeridad: UVEG
* @Maestra:Ing. Dora Alicia Álvarez Medina
* @Archivo: card.css
*/

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    text-align: center;
}
